{% extends "base.html" %}
{% block title %}
TD Project
{% endblock %}

{% block content %}
{% load static %}
<h3>Project gallery</h3>
<div class="containeri">
    <div id="gallery">
                <figure class="photo">
                    <a href="/static/images/home.png" title="Home"><img src="/static/images/home.png" alt="Home" /></a>
                    <figcaption>Home</figcaption>
                </figure>
                <figure class="photo">
                    <a href="/static/images/about.png" title="About"><img src="/static/images/about.png" alt="About" /></a>
                    <figcaption>About</figcaption>
                </figure>
                <figure class="photo">
                    <a href="/static/images/project.png" title="Project"><img src="/static/images/project.png" alt="Project" /></a>
                    <figcaption>Project</figcaption>
                </figure>
                <figure class="photo">
                    <a href="/static/images/contact.png" title="Contact"><img src="/static/images/contact.png" alt="Contact" /></a>
                    <figcaption>Contact</figcaption>
                </figure>
    </div>
</div>
{% endblock %}